sudo: false
dist: trusty
language: node_js
node_js:
  - "8"
install:
  - npm install -g firebase-tools
  - yarn --frozen-lockfile --non-interactive || (echo 'package.json is not in sync with yarn.lock, check that you include yarn.lock' && false)
script:
  - echo "Linter"
  - yarn lint
  - echo "Building"
  - yarn build
deploy:
  - provider: firebase
    skip_cleanup: true
    token: "$FIREBASE_TOKEN"
    on:
      branch: master
      condition: $TRAVIS_TAG =~ ^v[0-9]+\.[0-9]+\.[0-9]+
    project: "devandfest"
  - provider: firebase
    skip_cleanup: true
    token: "$FIREBASE_TOKEN"
    on:
      branch: master
    project: "devandfest-dev"